* {
  margin: 0;
}

body {
  overscroll-behavior: none;
  font-family: 'Roboto', sans-serif;
}

.app {
  text-align: center;
  background-color: #0a192f;
  color: #ccd6f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  margin-top: 5vh;
}
