a{
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  text-decoration: none;
  background-color: rgb(236, 218, 178);
  height: 80px;
}

.nav-item {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}